In [1]:
pip install pymysql

Collecting pymysql
  Obtaining dependency information for pymysql from https://files.pythonhosted.org/packages/e5/30/20467e39523d0cfc2b6227902d3687a16364307260c75e6a1cb4422b0c62/PyMySQL-1.1.0-py3-none-any.whl.metadata
  Downloading PyMySQL-1.1.0-py3-none-any.whl.metadata (4.4 kB)
Downloading PyMySQL-1.1.0-py3-none-any.whl (44 kB)
   ---------------------------------------- 0.0/44.8 kB ? eta -:--:--
   ---------------------------------------- 44.8/44.8 kB 2.2 MB/s eta 0:00:00
Installing collected packages: pymysql
Successfully installed pymysql-1.1.0
Note: you may need to restart the kernel to use updated packages.

In [26]:
import pymysql

In [27]:
from sqlalchemy import create_engine, text
#create_engine - 엮을 수 있도록 connection

In [28]:
## 웹 규약
## web = "http://"
## webs = "https://"
## mysql 규약
protocol = "mysql+pymysql://"
user = "root"
password = "1234"
host = "localhost"
port = "3306"
db = "miniproject"
con_str = f"{protocol}{user}:{password}@{host}:{port}/{db}"

In [29]:
con_str

'mysql+pymysql://root:1234@localhost:3306/miniproject'

In [30]:
conn  = create_engine(con_str)

In [31]:
conn

Engine(mysql+pymysql://root:***@localhost:3306/miniproject)

In [32]:
cur = conn.execute("show tables")

In [33]:
list(cur)

[('dept',),
 ('dept_bf',),
 ('generation_region',),
 ('sales_amount',),
 ('sales_region',),
 ('sales_use',),
 ('statement',)]

In [34]:
import pandas as pd

In [35]:
sql_stmt = """
CREATE TABLE city_town_district_latitude_longitude(
    CODE INT NOT NULL PRIMARY KEY,
    NAME VARCHAR(20) NOT NULL,
    LATITUDE DOUBLE NOT NULL,
    LONGITUDE DOUBLE NOT NULL
);
"""

conn.execute(sql_stmt)

In [36]:
sql_stmt = """
CREATE TABLE administrative_district_city_town_population(
    CODE INT NOT NULL PRIMARY KEY,
    NAME VARCHAR(20) NOT NULL,
    POPULATION INT NOT NULL
);
"""

conn.execute(sql_stmt)

In [37]:
sql_stmt = """
CREATE TABLE city_town_district_total_power(
    YEAR YEAR(4) NOT NULL,
    CITY_NAME VARCHAR(20) NOT NULL PRIMARY KEY,
    CITY VARCHAR(20) NOT NULL,
    NAME VARCHAR(20) NOT NULL ,
    JANUARY INT NOT NULL,
    FEBRUARY INT NOT NULL,
    MARCH INT NOT NULL,
    APRIL INT NOT NULL,
    MAY INT NOT NULL,
    JUNE INT NOT NULL,
    JULY INT NOT NULL,
    AUGUST INT NOT NULL,
    SEPTEMBER INT NOT NULL,
    OCTOBER INT NOT NULL,
    NOVEMBER INT NOT NULL,
    DECEMBER INT NOT NULL    
);
"""

conn.execute(sql_stmt)

In [38]:
sql_stmt = """
CREATE TABLE legal_district_code(
    TOTALCODE BIGINT NOT NULL PRIMARY KEY,
    CITY_NAME VARCHAR(20) NOT NULL,
    CITY VARCHAR(20) NOT NULL,
    NAME VARCHAR(20),
    VILLAGE VARCHAR(20) ,
    VILLAGE2 VARCHAR(20) ,
    EXISTENCE VARCHAR(20),
    CODE INT NOT NULL
);
"""

conn.execute(sql_stmt)

In [39]:
sql = """
ALTER TABLE `legal_district_code` ADD CONSTRAINT `FK_legal_district_code_CODE` FOREIGN KEY (`CODE`) REFERENCES `city_town_district_latitude_longitude` (`CODE`);
"""
conn.execute(sql)

In [40]:
sql = """
ALTER TABLE `legal_district_code` ADD CONSTRAINT `FK_legal_district_code_CODE2` FOREIGN KEY (`CODE`) REFERENCES `administrative_district_city_town_population` (`CODE`);
"""
conn.execute(sql)

In [41]:
sql = """
ALTER TABLE `legal_district_code` ADD CONSTRAINT `FK_legal_district_code_CITY_NAME` FOREIGN KEY (`CITY_NAME`) REFERENCES `city_town_district_total_power` (`CITY_NAME`);
"""
conn.execute(sql)

In [42]:
city_town_district_latitude_longitude = pd.read_csv('city_town_district_latitude_longitude.csv')

In [43]:
administrative_district_city_town_population = pd.read_csv('administrative_district_city_town_population.csv')

In [44]:
city_town_district_total_power = pd.read_csv('city_town_district_total_power.csv')

In [45]:
legal_district_code = pd.read_csv('legal_district_code.csv')

In [46]:
import numpy as np
legal_district_code = legal_district_code.replace({np.nan: None})

In [47]:
sql = """
insert into city_town_district_latitude_longitude(CODE, NAME, LATITUDE, LONGITUDE)
values(
:CODE,
:NAME,
:X,
:Y
)
"""
for param in city_town_district_latitude_longitude.iloc[:, 1:].to_dict('records'):
    conn.execute(text(sql),param)

In [48]:
sql = """
insert into administrative_district_city_town_population(CODE, NAME, POPULATION)
values(
:CODE,
:NAME,
:POPULATION
)
"""
for param in administrative_district_city_town_population.to_dict('records'):
    conn.execute(text(sql),param)

In [49]:
sql = """
insert into city_town_district_total_power(YEAR, CITY_NAME, CITY, NAME, JANUARY, FEBRUARY, MARCH, APRIL, MAY, JUNE, JULY, AUGUST, SEPTEMBER, OCTOBER, NOVEMBER, DECEMBER)
values(
:YEAR, 
:CITY_NAME,
:CITY, 
:NAME, 
:JANUARY, 
:FEBRUARY, 
:MARCH, 
:APRIL, 
:MAY, 
:JUNE, 
:JULY, 
:AUGUST, 
:SEPTEMBER, 
:OCTOBER, 
:NOVEMBER, 
:DECEMBER
)
"""
for param in city_town_district_total_power.to_dict('records'):
    conn.execute(text(sql),param)

In [50]:
sql = """
insert into legal_district_code(TOTALCODE, CITY_NAME, CITY, NAME, VILLAGE, VILLAGE2, EXISTENCE, CODE)
values(
:TOTALCODE, 
:CITY_NAME, 
:CITY, 
:NAME, 
:VILLAGE, 
:VILLAGE2, 
:EXISTENCE,
:CODE
);
"""
for param in legal_district_code.iloc[:,2:].to_dict('records'):
    conn.execute(text(sql),param)