In [26]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine, text

damage = pd.read_csv('damage.csv', encoding='utf-8')
Electricity_production_unit_price = pd.read_csv('Electricity_production_unit_price.csv', encoding='utf-8')
sales_price = pd.read_csv('sales_price.csv', encoding='utf-8')
sales_revenue_by_use = pd.read_csv('sales_revenue_by_use.csv', encoding='utf-8')
power_generation_cost = pd.read_csv('power_generation_cost.csv', encoding='utf-8')
region = pd.read_csv('region.csv', encoding='utf-8')

In [27]:
protocol ="mysql+pymysql://"
user = "root"
password = "1234"
host = "localhost"
port = "3306"
db = "miniproject"
con_str = f"{protocol}{user}:{password}@{host}:{port}/{db}" 
conn = create_engine(con_str)

In [28]:
sql_stmt = """
CREATE TABLE `Electricity_production_unit_price` (
	`기간`	year not null PRIMARY KEY, 
	`원자력`	int	NULL,
	`유연탄`	int	NULL,
	`무연탄`	int	NULL,
	`유류`	int	NULL,
	`LNG`	int	NULL,
	`양수`	int	NULL,
	`연료전지`	int	NULL,
	`석탄가스화`	int	NULL,
	`태양`	int	NULL,
	`풍력`	int	NULL,
	`수력`	int	NULL,
	`해양`	int	NULL,
	`바이오`	int	NULL,
	`폐기물`	int	NULL,
	`기타`	int	NULL,
	`전기생산단가평균`	int	NOT NULL
);
"""
conn.execute(sql_stmt)

In [29]:
sql_stmt = """
CREATE TABLE `sales_revenue_by_use` (
	`기간`	year NOT NULL PRIMARY KEY,
	`주택용`	BIGint	NULL,
	`일반용`	BIGint	NULL,
    `교육용`	BIGint	NULL,
	`산업용`	BIGint	NULL,
	`농사용`	BIGint	NULL,
	`가로등`	BIGint	NULL,
	`심야용`	BIGint	NULL,
	`전기판매수입` BIGint	NOT NULL
);

"""
conn.execute(sql_stmt)

In [30]:
sql_stmt = """
CREATE TABLE `region` (
	`기간`	year	NOT NULL PRIMARY KEY,
	`서울`	int	NULL,
	`부산`	int	NULL,
	`대구`	int	NULL,
	`인천`	int	NULL,
	`광주`	int	NULL,
	`대전`	int	NULL,
	`울산`	int	NULL,
	`세종`	int	NULL,
	`경기`	int	NULL,
	`강원`	int	NULL,
	`충북`	int	NULL,
	`충남`	int	NULL,
	`전북`	int	NULL,
	`전남`	int	NULL,
	`경북`	int	NULL,
	`경남`	int	NULL,
	`제주`	int	NULL,
	`발전량합계`	int	NOT NULL
);
"""
conn.execute(sql_stmt)

In [31]:
sql_stmt = """
CREATE TABLE `sales_price` (
	`기간`	year	not NULL primary key,
	`평균금액`	int	NOT NULL
);

"""
conn.execute(sql_stmt)

In [32]:
sql_stmt = """
CREATE TABLE Damage (
    `기간` year NOT NULL ,
	`손해금액` BIGINT NULL,		
    `IND`	INT not null PRIMARY KEY
);

"""
conn.execute(sql_stmt)

In [33]:
sql_stmt = """
CREATE TABLE `power_generation_cost` (
	`기간` YEAR	NOT NULL,
	`발전비용` BIGINT NULL,
	`IND`	INT not null PRIMARY KEY	
);

"""
conn.execute(sql_stmt)

In [36]:
sql = """
ALTER TABLE `Damage` ADD CONSTRAINT `FK_damage_year` FOREIGN KEY (`기간`) REFERENCES Electricity_production_unit_price (`기간`);
"""
conn.execute(sql)

In [37]:
sql = """
ALTER TABLE `power_generation_cost` ADD CONSTRAINT `FK_power_generation_cost_year` FOREIGN KEY (`기간`) REFERENCES Electricity_production_unit_price (`기간`);
"""
conn.execute(sql)

In [38]:
sql = """
ALTER TABLE `region` ADD CONSTRAINT `FK_region_year` FOREIGN KEY (`기간`) REFERENCES Electricity_production_unit_price (`기간`);
"""
conn.execute(sql)

In [39]:
sql = """
ALTER TABLE `sales_revenue_by_use` ADD CONSTRAINT `FK_sales_revenue_by_use_year` FOREIGN KEY (`기간`) REFERENCES Electricity_production_unit_price (`기간`);
"""
conn.execute(sql)

In [ ]:
sql = """
insert into Electricity_production_unit_price(
기간,
유연탄,
무연탄,
유류,
LNG,
양수,
연료전지,
석탄가스화,
태양,
풍력,
수력,
해양,
바이오,
폐기물,
기타,
전기생산단가평균
) values(
:기간,
:유연탄,
:무연탄,
:유류,
:LNG,
:양수,
:연료전지,
:석탄가스화,
:태양,
:풍력,
:수력,
:해양,
:바이오,
:폐기물,
:기타,
:전기생산단가평균)
"""
for param in Electricity_production_unit_price.to_dict('records'):
    conn.execute(text(sql),param)

In [45]:
sql = """
insert into Damage(
기간,
손해금액,
IND
) values(
:기간,
:손해금액,
:ind
)
"""
for param in damage.to_dict('records'):
    conn.execute(text(sql),param)

In [46]:
sql = """
insert into power_generation_cost(
기간,
발전비용,
IND
) values(
:기간,
:발전비용,
:ind
)
"""
for param in power_generation_cost.to_dict('records'):
    conn.execute(text(sql),param)

In [47]:
sql = """
insert into region(
기간,
서울,
부산,
대구,
인천,
광주,
대전,
울산,
세종,
경기,
강원,
충북,
충남,
전북,
전남,
경북,
경남,
제주,
발전량합계
) values(
:기간,
:서울,
:부산,
:대구,
:인천,
:광주,
:대전,
:울산,
:세종,
:경기,
:강원,
:충북,
:충남,
:전북,
:전남,
:경북,
:경남,
:제주,
:발전량합계
)
"""
for param in region.to_dict('records'):
    conn.execute(text(sql),param)

In [48]:
sql = """
insert into sales_price(
기간,
평균금액
) values(
:기간,
:평균금액
)
"""
for param in sales_price.to_dict('records'):
    conn.execute(text(sql),param)

In [49]:
sql = """
insert into sales_revenue_by_use(
기간,
주택용,
일반용,
교육용,
산업용,
농사용,
가로등,
심야용,
전기판매수입
) values(
:기간,
:주택용,
:일반용,
:교육용,
:산업용,
:농사용,
:가로등,
:심야용,
:전기판매수입
)
"""
for param in sales_revenue_by_use.to_dict('records'):
    conn.execute(text(sql),param)